.dark-overlay {
  background: rgba(54, 91, 125, 0.3);
  min-height: 250px;
}

.header {
  background-image: url("../../img/scaleflow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.admin-header {
  margin-top: 55px;
  color: white;
  background: black;
  text-align: center;
}
