.dark-overlay-main {
  background: rgba(54, 91, 125, 0.3);
}

.header-main {
  height: fit-content;
  background-image: url("../../img/scaleflow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 30px 30px;
}

.hero {
  margin: 0 auto;
  padding: 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #365b7d;
}
p {
  color: #365b7d;
  font-weight: 500;
}

.hero h5 {
  margin-bottom: 20px;
}

.link-button {
  background-color: #2a92d8;
  color: #fff;
  padding: 9px 15px;
  border-radius: 4px;
}

.link-button a {
  margin: 30px;
}

.link-button:hover {
  color: #fff;
  background-color: #2480bd;
  text-decoration: none;
}

.content {
  margin: 10px 0 50px;
}

.row-style {
  padding: 10px 0;
}

.learn-more-box {
  background-color: #365b7d;
  border-radius: 4px;
  padding: 20px 20px 30px;
  height: fit-content;
}

.learn-more-box h3,
.learn-more-box p {
  margin-bottom: 20px;
  color: white;
}

.contact-info-box {
  border: 1px solid #365b7d;
  border-radius: 4px;
  padding: 30px 30px;
}

h6.light-grey-header {
  color: #444;
  font-weight: 800;
}

.icon {
  color: #2480bd;
  margin: 5px 0 0 0;
}
